.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.experiences-title {
    position: relative;
}

.experiences-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.experiences-title img{
    width: 360px;
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: -1;
}

.experiences-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.experience-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.experience-format:hover {
    border: 2px solid #07ed1a;
    background-image: linear-gradient(45deg, #021b04, #083604);
    transform: scale(1.05);
    transition: 0.4s;
}

.experience-format h3 {
    font-size: 28px;
    font-weight: 600;
}

.experience-format h2 {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(270deg, #4a20d8 10%, #78dd57 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience-format p{
    color: #D4D4D4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.experience-readmore {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

@media (max-width:768px) {
    .experiences {
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }

    .experiences-title h1 {
        padding: 0;
        font-size: 50px;
    }

    .experiences-title img {
        width: 130px;
        margin-right: -20px;
    }

    .experience-format {
        gap: 20px;
        padding: 32px;
    }

    .experience-format h2 {
        font-size: 20px;
    }

    .experience-format p {
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }

    .experience-readmore img {
        width: 20px;
    }

    .experiences-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}